/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply m-0 p-0;
}

body > div {
	@apply flex min-h-screen flex-col;
}

a {
	@apply text-blue-link hover:text-gray-900;
	color: #1e73ba;
}

a:hover {
	color: #111827;
}

h1 {
	@apply mb-4 text-3xl font-bold;
}

.header-menu-icon {
	@apply h-8 w-8 cursor-pointer text-gray-700;
}

.nav-icon {
	@apply h-6 w-6 text-gray-500 xxl:h-5 xxl:w-5 xxxl:h-6 xxxl:w-6;
}

.arrow-wrap {
	@apply ml-auto border-l border-gray-300 px-1;
}

.collapsed .arrow-wrap {
	@apply hidden;
}

.nav-arrow {
	@apply h-5 w-5;
}

.nav-arrow.closed {
	@apply text-gray-300;
}

.nav-arrow.open {
	@apply rotate-90 text-gray-400;
}